<!DOCTYPE html>
 
        <!-- End Footnotes Style -->
<style>
body {
  font-family: sans-serif;
}

h1 {
  width: 850px; 
  text-align: center;
}

.day {
  padding: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px black solid;
}

.day.holiday {
  background-color: blue;
  color: white;
}

.day.not-main-month {
  background-color: gray;
}

.day-number {
  font-size: 30pt;
  line-height: 30pt;
}

</style>

</head>
<body>



<h1>October 2013</h1>


    
<div class="day not-main-month">

  <div class="day-number">
    29
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    30
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    1
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    2
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    3
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    4
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    5
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    6
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    7
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    8
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    9
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    10
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    11
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    12
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    13
  </div>


</div>

    
<div class="day holiday">

  <div class="day-number">
    14
  </div>

    Columbus Day

</div>

    
<div class="day">

  <div class="day-number">
    15
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    16
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    17
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    18
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    19
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    20
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    21
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    22
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    23
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    24
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    25
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    26
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    27
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    28
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    29
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    30
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    31
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    1
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    2
  </div>


</div>

  <br clear='all'>


 