<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/flash.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/main.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="+BFDls6UEE17RkItwX7inz4dFdzqYQHLGqfUYPick6Q=" name="csrf-token" />
        <!-- Footnotes Style -->
        <style type="text/css">
          #footnotes_debug {font-size: 11px; font-weight: normal; margin: 2em 0 1em 0; text-align: center; color: #444; line-height: 16px;}
          #footnotes_debug th, #footnotes_debug td {color: #444; line-height: 18px;}
          #footnotes_debug a {color: #9b1b1b; font-weight: inherit; text-decoration: none; line-height: 18px;}
          #footnotes_debug table {text-align: center;}
          #footnotes_debug table td {padding: 0 5px;}
          #footnotes_debug tbody {text-align: left;}
          #footnotes_debug .name_values td {vertical-align: top;}
          #footnotes_debug legend {background-color: #fff;}
          #footnotes_debug fieldset {text-align: left; border: 1px dashed #aaa; padding: 0.5em 1em 1em 1em; margin: 1em 2em; color: #444; background-color: #FFF;}
          /* Aditional Stylesheets */
          
        </style>
        <!-- End Footnotes Style -->
<style>
body {
  font-family: sans-serif;
}

h1 {
  width: 850px; 
  text-align: center;
}

.day {
  padding: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px black solid;
}

.day.holiday {
  background-color: blue;
  color: white;
}

.day.not-main-month {
  background-color: gray;
}

.day-number {
  font-size: 30pt;
  line-height: 30pt;
}

</style>

</head>
<body>



<h1>October 2013</h1>


    
<div class="day not-main-month">

  <div class="day-number">
    29
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    30
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    1
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    2
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    3
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    4
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    5
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    6
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    7
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    8
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    9
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    10
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    11
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    12
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    13
  </div>


</div>

    
<div class="day holiday">

  <div class="day-number">
    14
  </div>

    Columbus Day

</div>

    
<div class="day">

  <div class="day-number">
    15
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    16
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    17
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    18
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    19
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    20
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    21
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    22
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    23
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    24
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    25
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    26
  </div>


</div>

  <br clear='all'>
    
<div class="day">

  <div class="day-number">
    27
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    28
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    29
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    30
  </div>


</div>

    
<div class="day">

  <div class="day-number">
    31
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    1
  </div>


</div>

    
<div class="day not-main-month">

  <div class="day-number">
    2
  </div>


</div>

  <br clear='all'>


        <!-- Footnotes -->
        <div style="clear:both"></div>
        <div id="footnotes_debug">
          Edit: <a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/controllers/main_controller.rb&amp;line=9&amp;column=3" onclick="">Controller</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('partials_debug_info');return false;">Partials (0)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('stylesheets_debug_info');return false;">Stylesheets (3)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('javascripts_debug_info');return false;">Javascripts (4)</a><br />Show: <a href="#" onclick="Footnotes.hideAllAndToggle('assigns_debug_info');return false;">Assigns (2)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('session_debug_info');return false;">Session (2)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('cookies_debug_info');return false;">Cookies (2)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('params_debug_info');return false;">Params (4)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('filters_debug_info');return false;">Filters</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('routes_debug_info');return false;">Routes</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('env_debug_info');return false;">Env</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('queries_debug_info');return false;">        <span style="background-color:#ffffff">Queries (1)</span>
        <span style="background-color:#ffffff">DB (1.063ms)</span>
</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('log_debug_info');return false;">Log (0)</a> | 
<a href="#" onclick="Footnotes.hideAllAndToggle('general_debug_info');return false;">General Debug</a><br />
                      <fieldset id="partials_debug_info" style="display: none">
              <legend>Partials</legend>
              <div></div>
            </fieldset>
            <fieldset id="stylesheets_debug_info" style="display: none">
              <legend>Stylesheets</legend>
              <div><ul><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/application.css&amp;line=1&amp;column=1">/assets/application.css</a></li><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/flash.css&amp;line=1&amp;column=1">/assets/flash.css</a></li><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/main.css&amp;line=1&amp;column=1">/assets/main.css</a></li></ul></div>
            </fieldset>
            <fieldset id="javascripts_debug_info" style="display: none">
              <legend>Javascripts</legend>
              <div><ul><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/jquery.js&amp;line=1&amp;column=1">/assets/jquery.js</a></li><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/jquery_ujs.js&amp;line=1&amp;column=1">/assets/jquery_ujs.js</a></li><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/turbolinks.js&amp;line=1&amp;column=1">/assets/turbolinks.js</a></li><li><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/public/assets/application.js&amp;line=1&amp;column=1">/assets/application.js</a></li></ul></div>
            </fieldset>
            <fieldset id="assigns_debug_info" style="display: none">
              <legend>Assigns</legend>
              <div>          <table summary="Debug information for Assigns (2)" >
            <thead><tr><th>Name</th><th>Value</th></tr></thead>
            <tbody><tr><td>@first_of_month</td><td>Tue, 01 Oct 2013</td></tr><tr><td>@holidays</td><td>#&lt;ActiveRecord::Relation [#&lt;Holiday id: 1, name: "New Year's Day", date: "2013-01-01", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 2, name: "Birthday of Martin Luther King, Jr.", date: "2013-01-21", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 3, name: "Washington's Birthday", date: "2013-02-18", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 4, name: "Memorial Day", date: "2013-05-27", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 5, name: "Independence Day", date: "2013-07-04", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 6, name: "Labor Day", date: "2013-09-02", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 7, name: "Columbus Day", date: "2013-10-14", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 8, name: "Veterans Day", date: "2013-11-11", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 9, name: "Thanksgiving Day", date: "2013-11-28", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;, #&lt;Holiday id: 10, name: "Christmas Day", date: "2013-12-25", created_at: "2013-09-16 17:22:55", updated_at: "2013-09-16 17:22:55"&gt;]&gt;</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="session_debug_info" style="display: none">
              <legend>Session</legend>
              <div>          <table class="name_value" summary="Debug information for Session (2)" >
            <thead><tr><th>Name</th><th>Value</th></tr></thead>
            <tbody><tr><td>:session_id</td><td>"6be9f6a34f6a45fac410b994f8ac82e4"</td></tr><tr><td>:_csrf_token</td><td>"+BFDls6UEE17RkItwX7inz4dFdzqYQHLGqfUYPick6Q="</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="cookies_debug_info" style="display: none">
              <legend>Cookies</legend>
              <div>          <table class="name_value" summary="Debug information for Cookies (2)" >
            <thead><tr><th>Name</th><th>Value</th></tr></thead>
            <tbody><tr><td>:request_method</td><td>"GET"</td></tr><tr><td>:_app_session</td><td>"ZWs4cnRIUjkxd0NnYUVRVjZXT0lyTTFZYUMzTGg3NjRmSGVoVnNXTDlwdE91NVZJck9TdTZ5RFN5T0FrTW1zWFl6dWx3L1ZxVUxIbFVkUHh6Zy9samZuem0xRkdOZ3JwejNxeTJsNHQ3ZzRBQjJBbDJQZzNRZTEzcW9NRXJVeFNnSWYrc3B4MTFBM2UzTUJ2aTg2cStTendhVVREeUZNUnRlYzNzaUlqdHZWMFdLdUZpamZQSHNheCtQRnE3dHdsLS10dnJ0d1RCQmxkejBuM1VtWldkazZBPT0=--80ef9eef57b0ba2d5730c527857520eec8942655"</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="params_debug_info" style="display: none">
              <legend>Params</legend>
              <div>          <table class="name_value" summary="Debug information for Params (4)" >
            <thead><tr><th>Name</th><th>Value</th></tr></thead>
            <tbody><tr><td>:controller</td><td>"main"</td></tr><tr><td>:action</td><td>"month"</td></tr><tr><td>:year</td><td>"2013"</td></tr><tr><td>:month</td><td>"oct"</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="filters_debug_info" style="display: none">
              <legend>Filter chain for MainController</legend>
              <div></div>
            </fieldset>
            <fieldset id="routes_debug_info" style="display: none">
              <legend>Routes for MainController</legend>
              <div>          <table summary="Debug information for Routes" >
            <thead><tr><th>Path</th><th>Name</th><th>Options</th><th>Requirements</th></tr></thead>
            <tbody><tr><td></td><td>required_defaultsrequest_method</td><td>{:action=>"this_month"}</td><td>{:required_defaults=>[:controller, :action], :request_method=>/^GET$/}</td></tr><tr><td></td><td>required_defaultsrequest_method</td><td>{:action=>"month"}</td><td>{:required_defaults=>[:controller, :action], :request_method=>/^GET$/}</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="env_debug_info" style="display: none">
              <legend>Env</legend>
              <div>          <table >
            <thead><tr><th>Key</th><th>Value</th></tr></thead>
            <tbody><tr><td>GATEWAY_INTERFACE</td><td>CGI/1.1</td></tr><tr><td>HTTP_ACCEPT_ENCODING</td><td>gzip,deflate,sdch</td></tr><tr><td>HTTP_ACCEPT_LANGUAGE</td><td>en-US,en;q=0.8</td></tr><tr><td>HTTP_CONNECTION</td><td>keep-alive</td></tr><tr><td>HTTP_COOKIE</td><td><a href="#" style="color:#009" onclick="Footnotes.hideAllAndToggle('cookies_debug_info');return false;">See cookies on its tab</a></td></tr><tr><td>HTTP_HOST</td><td>localhost:9292</td></tr><tr><td>HTTP_IF_RANGE</td><td>"07eb0d32a4e15502c48df95897ea305f"</td></tr><tr><td>HTTP_RANGE</td><td>bytes=25253-25253</td></tr><tr><td>HTTP_USER_AGENT</td><td>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.65 Safari/537.36</td></tr><tr><td>HTTP_VERSION</td><td>HTTP/1.1</td></tr><tr><td>ORIGINAL_FULLPATH</td><td>/2013/oct</td></tr><tr><td>ORIGINAL_SCRIPT_NAME</td><td></td></tr><tr><td>PATH_INFO</td><td>/2013/oct</td></tr><tr><td>QUERY_STRING</td><td></td></tr><tr><td>REMOTE_ADDR</td><td>127.0.0.1</td></tr><tr><td>REMOTE_HOST</td><td>localhost</td></tr><tr><td>REQUEST_METHOD</td><td>GET</td></tr><tr><td>REQUEST_PATH</td><td>/2013/oct</td></tr><tr><td>REQUEST_URI</td><td>http://localhost:9292/2013/oct</td></tr><tr><td>ROUTES_70191526630760_SCRIPT_NAME</td><td></td></tr><tr><td>SCRIPT_NAME</td><td></td></tr><tr><td>SERVER_NAME</td><td>localhost</td></tr><tr><td>SERVER_PORT</td><td>9292</td></tr><tr><td>SERVER_PROTOCOL</td><td>HTTP/1.1</td></tr><tr><td>SERVER_SOFTWARE</td><td>WEBrick/1.3.1 (Ruby/1.9.3/2012-04-20)</td></tr><tr><td>action_controller.instance</td><td>#&lt;MainController:0x007fad7c094440&gt;</td></tr><tr><td>action_dispatch.backtrace_cleaner</td><td>#&lt;Rails::BacktraceCleaner:0x007fad7b48ba18&gt;</td></tr><tr><td>action_dispatch.cookies</td><td>#&lt;ActionDispatch::Cookies::CookieJar:0x007fad7c131448&gt;</td></tr><tr><td>action_dispatch.encrypted_cookie_salt</td><td>encrypted cookie</td></tr><tr><td>action_dispatch.encrypted_signed_cookie_salt</td><td>signed encrypted cookie</td></tr><tr><td>action_dispatch.http_auth_salt</td><td>http authentication</td></tr><tr><td>action_dispatch.key_generator</td><td>#&lt;ActiveSupport::CachingKeyGenerator:0x007fad7aa18e00&gt;</td></tr><tr><td>action_dispatch.logger</td><td>#&lt;Logger:0x007fad7b5c6130&gt;</td></tr><tr><td>action_dispatch.parameter_filter</td><td>[:password]</td></tr><tr><td>action_dispatch.redirect_filter</td><td>[]</td></tr><tr><td>action_dispatch.remote_ip</td><td>127.0.0.1</td></tr><tr><td>action_dispatch.request.content_type</td><td></td></tr><tr><td>action_dispatch.request.flash_hash</td><td>#&lt;ActionDispatch::Flash::FlashHash:0x007fad7a189ed8&gt;</td></tr><tr><td>action_dispatch.request.formats</td><td>[text/html]</td></tr><tr><td>action_dispatch.request.parameters</td><td>{"controller"=&gt;"main", "action"=&gt;"month", "year"=&gt;"2013", "month"=&gt;"oct"}</td></tr><tr><td>action_dispatch.request.path_parameters</td><td>{:controller=&gt;"main", :action=&gt;"month", :year=&gt;"2013", :month=&gt;"oct"}</td></tr><tr><td>action_dispatch.request.query_parameters</td><td>{}</td></tr><tr><td>action_dispatch.request.request_parameters</td><td>{}</td></tr><tr><td>action_dispatch.request.unsigned_session_cookie</td><td>{"session_id"=&gt;"6be9f6a34f6a45fac410b994f8ac82e4", "_csrf_token"=&gt;"+BFDls6UEE17RkItwX7inz4dFdzqYQHLGqfUYPick6Q="}</td></tr><tr><td>action_dispatch.request_id</td><td>11b6943e-2e28-4f32-bbc4-67e2b917ed24</td></tr><tr><td>action_dispatch.routes</td><td>#&lt;ActionDispatch::Routing::RouteSet:0x007fad7a05aad0&gt;</td></tr><tr><td>action_dispatch.secret_key_base</td><td>2872822c4668a55e1dc34b8981d2d563d5be7d707cbfca0b1587db04737d490480de0e58437007d1f1e43b2d9b06f1b65a5da6be5f0b5f07abe87ac3374a1098</td></tr><tr><td>action_dispatch.secret_token</td><td></td></tr><tr><td>action_dispatch.show_detailed_exceptions</td><td>true</td></tr><tr><td>action_dispatch.show_exceptions</td><td>true</td></tr><tr><td>action_dispatch.signed_cookie_salt</td><td>signed cookie</td></tr><tr><td>rack.errors</td><td>#&lt;Rack::Lint::ErrorWrapper:0x007fad7c093478&gt;</td></tr><tr><td>rack.input</td><td>#&lt;Rack::Lint::InputWrapper:0x007fad7c0934f0&gt;</td></tr><tr><td>rack.multiprocess</td><td>false</td></tr><tr><td>rack.multithread</td><td>false</td></tr><tr><td>rack.request.cookie_hash</td><td>{"request_method"=&gt;"GET", "_app_session"=&gt;"ZWs4cnRIUjkxd0NnYUVRVjZXT0lyTTFZYUMzTGg3NjRmSGVoVnNXTDlwdE91NVZJck9TdTZ5RFN5T0FrTW1zWFl6dWx3L1ZxVUxIbFVkUHh6Zy9samZuem0xRkdOZ3JwejNxeTJsNHQ3ZzRBQjJBbDJQZzNRZTEzcW9NRXJVeFNnSWYrc3B4MTFBM2UzTUJ2aTg2cStTendhVVREeUZNUnRlYzNzaUlqdHZWMFdLdUZpamZQSHNheCtQRnE3dHdsLS10dnJ0d1RCQmxkejBuM1VtWldkazZBPT0=--80ef9eef57b0ba2d5730c527857520eec8942655"}</td></tr><tr><td>rack.request.cookie_string</td><td>request_method=GET; _app_session=ZWs4cnRIUjkxd0NnYUVRVjZXT0lyTTFZYUMzTGg3NjRmSGVoVnNXTDlwdE91NVZJck9TdTZ5RFN5T0FrTW1zWFl6dWx3L1ZxVUxIbFVkUHh6Zy9samZuem0xRkdOZ3JwejNxeTJsNHQ3ZzRBQjJBbDJQZzNRZTEzcW9NRXJVeFNnSWYrc3B4MTFBM2UzTUJ2aTg2cStTendhVVREeUZNUnRlYzNzaUlqdHZWMFdLdUZpamZQSHNheCtQRnE3dHdsLS10dnJ0d1RCQmxkejBuM1VtWldkazZBPT0%3D--80ef9eef57b0ba2d5730c527857520eec8942655</td></tr><tr><td>rack.request.query_hash</td><td>{}</td></tr><tr><td>rack.request.query_string</td><td></td></tr><tr><td>rack.run_once</td><td>false</td></tr><tr><td>rack.session</td><td>#&lt;ActionDispatch::Request::Session:0x007fad7c095ed0&gt;</td></tr><tr><td>rack.session.options</td><td>#&lt;ActionDispatch::Request::Session::Options:0x007fad7c095e80&gt;</td></tr><tr><td>rack.url_scheme</td><td>http</td></tr><tr><td>rack.version</td><td>[1, 2]</td></tr></tbody>
          </table>
</div>
            </fieldset>
            <fieldset id="queries_debug_info" style="display: none">
              <legend>Queries</legend>
              <div>            <b id="qtitle_0">SELECT</b> (<a href="javascript:Footnotes.toggle('qtrace_0')" style="color:#00A;">trace</a>)<br />
            <span id="sql_0">SELECT "holidays".* FROM "holidays"</span><br />
            <span style='background-color:#ffffff'>Holiday Load (0.001ms)</span>&nbsp;
            <p id="qtrace_0" style="display:none;"><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/_day.html.erb&amp;amp;line=3&amp;amp;column=1">app/views/main/_day.html.erb:3:in `_app_views_main__day_html_erb__686521928112558088_70191532227360'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/month.html.erb&amp;amp;line=62&amp;amp;column=1">app/views/main/month.html.erb:62:in `block (2 levels) in _app_views_main_month_html_erb__2243768000651065545_70191533629080'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/month.html.erb&amp;amp;line=60&amp;amp;column=1">app/views/main/month.html.erb:60:in `step'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/month.html.erb&amp;amp;line=60&amp;amp;column=1">app/views/main/month.html.erb:60:in `block in _app_views_main_month_html_erb__2243768000651065545_70191533629080'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/month.html.erb&amp;amp;line=57&amp;amp;column=1">app/views/main/month.html.erb:57:in `step'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/views/main/month.html.erb&amp;amp;line=57&amp;amp;column=1">app/views/main/month.html.erb:57:in `_app_views_main_month_html_erb__2243768000651065545_70191533629080'</a><br /><a href="txmt://open?url=file:///Users/student/holiday-calendar-solution1/app/controllers/main_controller.rb&amp;amp;line=43&amp;amp;column=1">app/controllers/main_controller.rb:43:in `month'</a><br /></p><br />
</div>
            </fieldset>
            <fieldset id="log_debug_info" style="display: none">
              <legend>Log</legend>
              <div></div>
            </fieldset>
            <fieldset id="general_debug_info" style="display: none">
              <legend>General (id="general_debug_info")</legend>
              <div>You can use this tab to debug other parts of your application, for example Javascript.</div>
            </fieldset>

          <script type="text/javascript">
            var Footnotes = function() {

              function hideAll(){
                Footnotes.hide(document.getElementById('partials_debug_info'));
Footnotes.hide(document.getElementById('stylesheets_debug_info'));
Footnotes.hide(document.getElementById('javascripts_debug_info'));
Footnotes.hide(document.getElementById('assigns_debug_info'));
Footnotes.hide(document.getElementById('session_debug_info'));
Footnotes.hide(document.getElementById('cookies_debug_info'));
Footnotes.hide(document.getElementById('params_debug_info'));
Footnotes.hide(document.getElementById('filters_debug_info'));
Footnotes.hide(document.getElementById('routes_debug_info'));
Footnotes.hide(document.getElementById('env_debug_info'));
Footnotes.hide(document.getElementById('queries_debug_info'));
Footnotes.hide(document.getElementById('log_debug_info'));
Footnotes.hide(document.getElementById('general_debug_info'));

              }

              function hideAllAndToggle(id) {
                hideAll();
                toggle(id)

                location.href = '#footnotes_debug';
              }

              function toggle(id){
                var el = document.getElementById(id);
                if (el.style.display == 'none') {
                  Footnotes.show(el);
                } else {
                  Footnotes.hide(el);
                }
              }

              function show(element) {
                element.style.display = 'block'
              }

              function hide(element) {
                element.style.display = 'none'
              }

              return {
                show: show,
                hide: hide,
                toggle: toggle,
                hideAllAndToggle: hideAllAndToggle
              }
            }();
            /* Additional Javascript */
            
          </script>
        </div>
        <!-- End Footnotes -->
</body>
</html>
